{% extends 'base.html' %}

{% block content %}

<div class="center-align">
    <h1>Onion<i class="medium material-icons">add</i></h1>
</div>

<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum veniam suscipit omnis sapiente ipsa molestias modi
    dicta, culpa et tenetur quasi nam eaque, libero pariatur quisquam laudantium! Dolorum harum iure animi perspiciatis
    ad laudantium eveniet corporis quaerat nemo pariatur tempora facilis nulla, sint aliquid molestias! Accusantium
    nulla placeat illum sed expedita nisi possimus quia, a nobis ipsam alias molestiae saepe harum deleniti? Labore
    necessitatibus quaerat optio esse consectetur quasi temporibus rem, quam maiores hic placeat, nemo itaque assumenda
    quidem ratione voluptate sed illo fugit incidunt, corrupti ad harum vitae magnam voluptas. Corporis ad tempore sed
    nobis, at id amet aliquid.
</div>

<div class="row">
    <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light btn-large purple"><i class="material-icons left">bug_report</i>Report Bug</a>
    </div>
    <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light btn-large purple"><i class="material-icons right">extension</i>Request Feature</a>
    </div>
</div>

{% endblock %}