@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */
header, main, footer {
    padding-left: 300px;
  }

button {
  border-radius: 6px !important;
}

h1, h2 {
  color: #9c27b0;
  font-weight: 700;
}

textarea {
  height: 30rem !important;
}

.btn-main {
  width: 250px;
  border-radius: 6px !important;
}

.btn-small {
  border-radius: 6px !important;
}

div.main {
  padding-top: 25px !important;
}

div.main_features {
  padding-bottom: 25px !important;
}

.bold {
  font-weight: 700 !important;
}

.modal {
  max-height: 80% !important;
  width: 35%;
}

.errorlist {
  color: red;
}

#ticketStatusTODO {
  margin-left: 10px;
  background-color: #f44336 !important;
  color: black;
  font-weight: 700;
}

#ticketStatusDOING {
  margin-left: 10px;
  background-color: #ffeb3b !important;
  color: black;
  font-weight: 700;
}

#ticketStatusDONE {
  margin-left: 10px;
  background-color: #4caf50 !important;
  color: black;
  font-weight: 700;
}

#ticketBadge {
  margin-left: auto;
}

/* ---------------------------------------------------
    Media Queries
----------------------------------------------------- */
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .modal {
    width: 75%;
  }
}