{% extends 'base.html' %}

{% block content %}

{% if type == 'FEATURE' %}
<h2 class="center-align">Features</h2>
<p>Features that reach the 500€ will be worked on. If you want to support the development of any feature please use the
    button to make your contribution.</p>
{% else %}
<h2 class="center-align">Bugs</h2>
{% endif %}

<!-- Show all tickets in a collapsible -->
<ul class="collapsible popout">
    {% for ticket in tickets %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">
                <!-- Different icon in the the collapsible header for bugs and features-->
                {% if type == 'FEATURE' %}
                extension
                {% else %}
                bug_report
                {% endif %}
            </i>{{ ticket.subject }}
            <span id="ticketStatus{{ ticket.status }}" class="new badge purple" data-badge-caption="">{{ ticket.status }}</span>
            <!-- If user has already voted this ticket, we don't show thumbs up button -->
            <span id="ticketBadge">
            {% if ticket.pk not in voted %}
            <a href="{% url 'thumb_up' ticket.id %}">
                <i class="small material-icons purple-text">thumb_up</i>
            </a>
            {% elif type == 'FEATURE' %}
            <a href="{% url 'show_comments' ticket.id %}">
                <i class="small material-icons purple-text">monetization_on</i>
            </a>
            {% endif %}
            
            <span class="new badge purple" data-badge-caption="votes">{{ ticket.number_votes }}</span>
            </span>
        </div>
        <div class="collapsible-body">
            <span>{{ ticket.description }}</span><br>
            <hr>
            {% if type == 'FEATURE' %}
            <span class="bold">Requested: {{ ticket.creation_ts }}</span><br>
            {% else %}
            <span class="bold">Reported: {{ ticket.creation_ts }}</span><br>
            {% endif %}
            <span>{{ ticket.ticket_type }}</span><br>
            <span>{{ ticket.pk }}</span><br>
            <a href="{% url 'add_comment' ticket.id user.id %}"
                class="waves-effect waves-light btn-small purple">Comment</a>
            <a href="{% url 'show_comments' ticket.id %}" class="waves-effect waves-light btn-small purple">Show Details</a>
        </div>
    </li>
    {% endfor %}
</ul>

<!-- ACTION BUTTON TO ADD NEW RECORD -->
<div class="fixed-action-btn">
    <a href="{% url 'create_ticket' type %}" class="btn-floating btn-large purple tooltipped" data-position="left"
        data-tooltip="Add new">
        <i class="large material-icons">add_circle</i>
    </a>
</div>

{% endblock %}