{% extends 'base.html' %}

{% block content %}

<div class="center-align">
    <h1>Your Profile</h1>
</div>

<ul class="collapsible expandable">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">account_circle</i><span class="bold">Personal Details</span>
        </div>
        <div class="collapsible-body">
            <span class="bold">Name:</span> {{ user.first_name }}<br>
            <span class="bold">Surname:</span> {{ user.last_name }}<br>
            <span class="bold">email:</span> {{ user.email }}<br>
            <span class="bold">Site Admin:</span> {{ user.is_superuser }}
        </div>
    </li>
    <li {% if errors %}class="active"{% endif %}>
        <div class="collapsible-header">
            <i class="material-icons">fingerprint</i><span class="bold">Password</span>
        </div>
        <div class="collapsible-body">Here you can can update your current password<br><br>
            <div class="col 6">
                <form method="post">
                    {% csrf_token %}
                    {{ pwd_change_form }}
                    <button type="submit" class="btn-small">Change Password</button>
                </form>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">date_range</i><span class="bold">Other</span>
        </div>
        <div class="collapsible-body">
            <span class="bold">Member Since:</span> {{ user.date_joined }}<br>
            <span class="bold">Last log-in:</span> {{ user.last_login }}
        </div>
    </li>
</ul>
{% endblock %}