{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Stripe -->
    <link rel="stylesheet" href="{% static 'css/stripe.css' %}" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/stripe.js' %}" defer></script>
    <title>Onion+</title>
</head>

<body>
    <!-- Sidenav -->
    <ul id="slide-out" class="sidenav sidenav-fixed purple">
        <li>
            <div class="user-view">
                <i class="material-icons large white-text">spa</i><br>
                <span class="white-text bold">{{ user.first_name }} {{ user.last_name }}</span><br>
            </div>
        </li>
        <li><a class="waves-effect" href="{% url 'index' %}"><i class="material-icons">home</i>Home</a></li>
        {% if user.is_authenticated %}
        <li><a class="waves-effect" href="{% url 'profile' %}"><i class="material-icons">person</i>Profile</a></li>
        {% endif %}
        <li><a class="waves-effect" href="{% url 'bugs' %}"><i class="material-icons">bug_report</i>Bugs</a></li>
        <li><a class="waves-effect" href="{% url 'features' %}"><i class="material-icons">extension</i>Features</a></li>
        {% if not user.is_authenticated %}
        <!-- Login Modal Trigger -->
        <li><a class="waves-effect modal-trigger" href="#login_modal"><i class="material-icons">fingerprint</i>Log
                In</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a class="waves-effect" href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Log Out</a></li>
        {% endif %}
        <li>
            <div class="divider"></div>
        </li>
        <div class="center-align">
            <h1 class="white-text">Onion<i class="medium material-icons">add</i></h1>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i
            class="medium material-icons purple-text">menu</i></a>

    <!-- MAIN BLOCK -->
    <main>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </main>



    <!-- Modal Log In & Sign In -->
    <div id="login_modal" class="modal">
        <ul id="modal-tabs-swipe" class="tabs tabs-fixed-width">
            <li class="tab col s6"><a href="#tab-log-in" class="active">Log In</a></li>
            <li class="tab col s6"><a href="#tab-sign-in">Sign Up</a></li>
        </ul>
        <div id="tab-log-in" class="col s12">
            <form method="POST" action="{% url 'login' %}?next={{redirect_to}}">
                <div class="modal-content">
                    <h4>Log In</h4>
                    {% csrf_token %}
                    {{ login_form }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="waves-effect waves-purple btn purple">Login</button>
                </div>
            </form>
        </div>
        <div id="tab-sign-in" class="col s12">
            <form method="POST" action="{% url 'signup' %}?next={{redirect_to}}">
                <div class="modal-content">
                    <h4>Sign Up</h4>
                    {% csrf_token %}
                    {{ signin_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="waves-effect waves-purple btn purple">Sign Up!</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Initialize all Materialize components & modal functionality-->
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>

    <!-- Show toast with feedback messages for the user -->
    {% if messages %}
    <div>
        {% for message in messages %}
        <script type="text/javascript">
            M.toast({ html: '{{ message }}', classes: 'rounded' });
        </script>
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>