{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Onion+</title>
</head>

<body>

    <!-- Sidenav -->
    <ul id="slide-out" class="sidenav sidenav-fixed purple">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="">
                </div>
                <a href="#user"><img class="circle" src=""></a>
                <a href="#name"><span class="white-text name">{{ user }}</span></a>
                <a href="#email"><span class="white-text email">your_email@gmail.com</span></a>
            </div>
        </li>
        <li><a class="waves-effect" href="{% url 'index' %}"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">person</i>Profile</a></li>
        <li><a class="waves-effect" href="{% url 'bugs' %}"><i class="material-icons">bug_report</i>Bugs</a></li>
        <li><a class="waves-effect" href="{% url 'features' %}"><i class="material-icons">extension</i>Features</a></li>
        <!-- Login Modal Trigger -->
        <li><a class="waves-effect modal-trigger" href="#login_modal"><i class="material-icons">fingerprint</i>Log
                In</a></li>
        <li><a class="waves-effect" href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Log Out</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <div class="center-align">
            <h1>Onion<i class="medium material-icons">add</i></h1>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i
            class="medium material-icons purple-text">menu</i></a>

    <!-- MAIN BLOCK -->
    <main>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </main>



    <!-- Modal Structure -->
    <div id="login_modal" class="modal">
        <form method="POST" action="{% url 'login' %}">
            <div class="modal-content">
                <h4>Log In</h4>
                {% csrf_token %} {{ login_form }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Login</button>
            </div>
        </form>
    </div>

    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Initialize all Materialize components-->
    <script type="text/javascript">
        M.AutoInit();
    </script>

</body>

</html>